{% extends "base.html" %}

{% block content %}
<div class="page-header" id="header">
    <h2> Lista de Produtos
        <span class="pull-right">
            <a href="{% url 'produto:produto_add' %}">
                <button class="btn btn-primary">
                    Adicionar
                </button>
            </a>
        </span>
    </h2>
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data de Validade</th>
                <th>NCM</th>
                <th>Produto</th>
                <th>Preço</th>
                <th class="text-center">Estoque</th>
                <th class="text-center">Estoque Mínimo</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td class="
                    {% if object.status_validade == 'expirado' %}
                        text-danger  bg-danger-subtle
                    {% elif object.status_validade == 'perto' %}
                        text-warning bg-warning-subtle
                    {% endif %}
                    ">
                    {{object.validade}}
                    </td>
                    <td>{{object.ncm}}</td>

                    <td><a href="{% url 'produto:produto_details' object.pk %}">{{object.produto}}</a></td>

                    <td>R$ <span class="pull-right">{{object.preco}}</span></td>

                    <td class="text-center">
                    <form action="{% url 'produto:alterar_estoque' object.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" name="acao" value="diminuir">-</button>
                    </form>

                    {{object.estoque}}

                    <form action="{% url 'produto:alterar_estoque' object.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" name="acao" value="aumentar">+</button>
                    </form>

                    </td>
                    
                    <td class="text-center {% if object.estoque <= object.estoque_minimo %}text-warning{% endif %}">{{object.estoque_minimo}}</td>

                    <td class="text-center">
                    <form action="{% url 'produto:produto_delete' object.pk %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Tem certeza que deseja excluir este produto?');">
                        🗑️
                    </button>
                    </form>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="alert alert-warning"> Sem itens na lista</p>
    {% endif %}
</div>

{% endblock content %}