{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
            <a href="{% url 'produto:produto_list' %}"> <button type="submit" class="btn btn-primary">Voltar</button></a>
            <h1 class="text-primary">Adicionar Um Produto</h1>
            <!--Begin row-->
            <div class="row">
            <!--Begin col-->
            <div class="column">
                <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary w-100">Cadastrar Produto</button>
                </form>
            </div>
            </div>
     </div>
</div>

{% endblock %}