
  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">


        <div class="col-lg-4 col-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Termos de Serviço</a></li>
            <li><a href="#">Política de Privacidade</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-6 footer-links">
          <h4>Nossos Serviços</h4>
          <ul>
            <li><a href="#">Clareamento</a></li>
            <li><a href="#">Aparelhos</a></li>
            <li><a href="#">Remoção de Cárie</a></li>
            <li><a href="#">Canal</a></li>
            <li><a href="#">Moldes</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Entre em Contato</h4>
          <p>Tel:+55(18) 1234-5678</p>
          <p>Penápolis, SP 15503</p>
          <p>São Paulo</p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">OdontoSyS</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Desenvolvido por <a href="https://bootstrapmade.com/">José</a> |</a>
      </div>
    </div>

  </footer>